<template>
  <div class="admin-post-page">
    <section class="update-form">
      <AdminPostForm
        :post="loadedPost"
        @submit="onSubmitted" />
    </section>
  </div>
</template>

<script>
  import AdminPostForm from '@/components/Admin/AdminPostForm';

  export default {
    name: 'EditPost',
    layout: 'admin',
    middleware: ['check-auth', 'auth'],
    components: {
      AdminPostForm,
    },
    async asyncData(context) {
      const ip = await context.app.$axios.get('/posts/' + context.params.postId + '.json');
      console.log(ip);
      return {
        loadedPost: { ...ip.data, id: context.params.postId },
      };
    },
    // asyncData(context) {
    //   return context.app.$axios.get('/posts/' + context.params.postId + '.json')
    //     .then(res => {
    //       console.log(res.data);
    //       return {
    //         loadedPost: { ...res.data, id: context.params.postId},
    //       };
    //     })
    //     .catch(e => context.error(e));
    // },
    methods: {
      onSubmitted(editedPost) {
        this.$store.dispatch('editPost', editedPost).then(() => {
          this.$router.push('/admin');
        })
      },
    },
  };
</script>

<style scoped>
.update-form {
  width: 90%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .update-form {
    width: 500px;
  }
}
</style>
