<template>
  <div class="posts-page">
    <post-list :posts="loadedPosts" />
  </div>
</template>

<script>
  export default {
    name: 'Posts',
    computed: {
      loadedPosts() {
        return this.$store.getters.loadedPosts;
      }
    },
    head: {
      title: 'My Tech Blog - Blog'
    },
  };
</script>

<style scoped>
.post-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
